# This workflows will upload a Python Package using Twine when a release is created
# For more information see: https://help.github.com/en/actions/language-and-framework-guides/using-python-with-github-actions#publishing-to-package-registries

name: pypi-release

on:
    release:
        types: [created]

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - uses: actions/checkout@v4
            - name: Set up Python
              uses: actions/setup-python@v4
              with:
                  python-version: "3.x"

            - name: Setup Pixi
              uses: prefix-dev/setup-pixi@fef5c9568ca6c4ff7707bf840ab0692ba3f08293 #v0.9.0
              with:
                pixi-version: v0.49.0
                cache: true
                cache-key: pixi-${{ hashFiles('pixi.lock') }}
                # only write caches on main to save space
                cache-write: ${{ github.event_name == 'push' && github.ref_name == 'main' }}

            - name: Build package
              run: pixi run -e dev build-dist

            - name: Publish package to PyPI
              uses: pypa/gh-action-pypi-publish@ed0c53931b1dc9bd32cbe73a98c7f6766f8a527e #release/v1
              with:
                password: ${{ secrets.PYPI_API_TOKEN }}
