name: tests

on: [push]

permissions:
  contents: read

jobs:
  main-package:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        environment: [py311, py312, py313]

    steps:
      - uses: actions/checkout@v4
      - name: Setup Python with pixi
        uses: Serapieum-of-alex/github-actions/actions/python-setup/pixi@pixi/v1
        with:
          environments: ${{ matrix.environment }}
          activate-environment: ${{ matrix.environment }}

      - name: Run main tests
        run: |
          pixi run -e ${{ matrix.environment }} test-all

      - name: Upload coverage reports to Codecov with GitHub Action
        uses: codecov/codecov-action@v5

      - name: test Jupyter notebooks
        run: |
          pixi run -e ${{ matrix.environment }} notebooks || true
